<div>
  <h2>Books</h2>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th></th>
      </tr>
    </thead>

    <!--% @books.each do |book| %-->
    <tbody>

    </tbody>
  </table>
</div>